{% extends 'base.htm' %}
{% block content %}
{% for a1 in a %} 
<strong>Sri Laxmi Durga  Tenthouse</strong><br>Raghunadhapalem<br>
 పేరు  <input type=text value={{a1.name}} readonly>&nbsp;
 తేదీ <input type=text value={{b}} readonly><br><br>
 <table>
 <tr>
 <th>Item</th>
 <th>No.of</th> 
 <th>cost</th>
 </tr>
 <tr><th>కుర్చీలు</th><td><input type=text value={{a1.t1}} readonly></td> <td><input type=text value={{a1.t2}} readonly></td></tr>
 <tr><th>బల్లలు</th><td><input type=text value={{a1.t3}} readonly></td><td> <input type=text value={{a1.t4}} readonly></td></tr>
 <tr><th>18x36 టెంట్ </th><td><input type=text value={{a1.t5}} readonly></td><td><input type=text value={{a1.t6}} readonly></td></tr>
 <tr><th> 15x30 టెంట్ </th><td><input type=text value={{a1.t7}} readonly></td> <td><input type=text value={{a1.t8}} readonly></td></tr>
 <tr><th>12x24టెంట్ </th><td><input type=text value={{a1.t9}} readonly></td> <td><input type=text value={{a1.t10}} readonly></td></tr>
 <tr><th>9x18టెంట్ </th><td><input type=text value={{a1.t11}} readonly></td><td><input type=text value={{a1.t12}} readonly></td></tr>	
 <tr><th>సైడ్ వాల్స్  </th><td><input type=text value={{a1.t13}} readonly></td> <td><input type=text value={{a1.t14}} readonly></td></tr>
 <tr><th>కార్పట్ </th><td><input type=text value={{a1.t15}} readonly></td><td><input type=text value={{a1.t16}} readonly></td></tr>		  
 <tr><th>60కె జి గీన్నే </th><td><input type=text value={{a1.t17}} readonly></td><td><input type=text value={{a1.t18}} readonly></td></tr>	
 <tr><th>50కె జి గీన్నే </th><td><input type=text value={{a1.t19}} readonly></td><td><input type=text value={{a1.t20}} readonly></td></tr>
 <tr><th>40కె జి గీన్నే </th><td><input type=text value={{a1.t21}} readonly></td><td><input type=text value={{a1.t22}} readonly></td></tr>
 <tr><th>30కె జి గీన్నే </th><td><input type=text value={{a1.t23}} readonly></td><td><input type=text value={{a1.t24}} readonly></td></tr>
 <tr><th>25కె జి గీన్నే </th><td><input type=text value={{a1.t25}} readonly></td><td><input type=text value={{a1.t26}} readonly></td></tr>
 <tr><th>20కె జి గీన్నే </th><td><input type=text value={{a1.t27}} readonly></td><td><input type=text value={{a1.t28}} readonly></td></tr>
 <tr><th>15కె జి గీన్నే </th><td><input type=text value={{a1.t29}} readonly></td><td><input type=text value={{a1.t30}} readonly></td></tr>
 <tr><th>10కె జి గీన్నే </th><td><input type=text value={{a1.t31}} readonly></td><td><input type=text value={{a1.t32}} readonly></td></tr>
 <tr><th>5కె జి గీన్నే </th><td><input type=text value={{a1.t33}} readonly></td><td><input type=text value={{a1.t34}} readonly></td></tr>
 <tr><th>లగాన్ ( పెద్ద)</th><td><input type=text value={{a1.t35}} readonly></td><td><input type=text value={{a1.t36}} readonly></td></tr>
 <tr><th>లగాన్ ( చిన్న) </th><td><input type=text value={{a1.t37}} readonly></td><td><input type=text value={{a1.t38}} readonly></td></tr>
 <tr><th>బకెట్ </th><td><input type=text value={{a1.t39}} readonly></td><td><input type=text value={{a1.t40}} readonly></td></tr>
 <tr><th>బేషన్ </th><td><input type=text value={{a1.t41}} readonly></td><td><input type=text value={{a1.t42}} readonly></td></tr>
 <tr><th>జగ్ </th><td><input type=text value={{a1.t43}} readonly></td><td><input type=text value={{a1.t44}} readonly></td></tr>
 <tr><th>హస్తాలు </th><td><input type=text value={{a1.t45}} readonly></td><td><input type=text value={{a1.t46}} readonly></td></tr>
 <tr><th>కూర గంటెలు </th><td><input type=text value={{a1.t47}} readonly></td><td><input type=text value={{a1.t48}} readonly></td></tr>
 <tr><th>డోంగాలు </th><td><input type=text value={{a1.t49}} readonly></td><td><input type=text value={{a1.t50}} readonly></td></tr>
 <tr><th>కురిపి </th><td><input type=text value={{a1.t51}} readonly></td><td><input type=text value={{a1.t52}} readonly></td></tr>
 <tr><th>కాప్ గిరి</th><td><input type=text value={{a1.t53}} readonly></td><td><input type=text value={{a1.t54}} readonly></td></tr>
 <tr><th>డ్రమ్ములు  </th><td><input type=text value={{a1.t55}} readonly></td><td><input type=text value={{a1.t56}} readonly></td></tr>
 <tr><th>రింగ్ పోయిలు</th><td><input type=text value={{a1.t57}} readonly></td><td><input type=text value={{a1.t58}} readonly></td></tr>
 <tr><th>గ్యాస్ పొయిలు </th><td><input type=text value={{a1.t59}} readonly></td><td><input type=text value={{a1.t60}} readonly></td></tr>
 <tr><th>టీ ఫ్లాస్కో</th><td><input type=text value={{a1.t73}} readonly></td><td><input type=text value={{a1.t74}} readonly></td></tr>
 <tr><th>సింహాసనం </th><td><input type=text value={{a1.t61}} readonly></td><td><input type=text value={{a1.t62}} readonly></td></tr>
 <tr><th>కళాయి </th><td><input type=text value={{a1.t63}} readonly></td><td><input type=text value={{a1.t64}} readonly></td></tr>
 <tr><th>జల్లి గంటె </th><td><input type=text value={{a1.t65}} readonly></td><td><input type=text value={{a1.t66}} readonly></td></tr>
 <tr><th>పులిహార పళ్ళెం  </th><td><input type=text value={{a1.t67}} readonly></td><td><input type=text value={{a1.t68}} readonly></td></tr>
 <tr><th>కొబ్బరి తురుము </th><td><input type=text value={{a1.t69}} readonly></td><td><input type=text value={{a1.t70}} readonly></td></tr>
 <tr><th>స్టేజి బల్ల  4x4 </th><td><input type=text value={{a1.t71}} readonly></td><td><input type=text value={{a1.t72}} readonly></td></tr>
 <tr><th>ట్రాన్స్ పోర్ట్ </th><td><input type=text value={{a1.t75}} readonly></td><td><input type=text value={{a1.t76}} readonly></td></tr>
           
 <tr><td></td><th>total</th><td> <input type=text value={{a1.total}} readonly ></td></tr>
 </table><br><button onclick="my()">Print </button>
 {% endfor %}
{% endblock %}