{% extends 'base.htm' %}
{% block content %}
<strong>Sri Laxmi Durga  Tenthouse</strong><br>Raghunadhapalem<br><br>ధరల పట్టిక <br>
  <table>
<tr>
<th>Item</th><th>cost&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th></tr>
<tr><th>కుర్చీలు</th><td>6</td></tr>
<tr><th>బల్లలు</th><td>30</td></tr>
<tr><th>18x36 టెంట్ </th><td>600</td></tr>
<tr><th> 15x30 టెంట్ </th><td>400</td></tr>
<tr><th>12x24టెంట్ </th><td>300</td></tr>
<tr><th>9x18టెంట్ </th><td>200</td></tr>
<tr><th>సైడ్ వాల్స్  </th><td>50</td></tr>
<tr><th>కార్పట్ </th><td>100</td></tr>
<tr><th>60కె జి గీన్నే </th><td>360</td></tr>
<tr><th>50కె జి గీన్నే </th><td>300</td></tr>
<tr><th>40కె జి గీన్నే </th><td>240</td></tr>
<tr><th>30కె జి గీన్నే </th><td>180</td></tr>
<tr><th>25కె జి గీన్నే </th><td>150</td></tr>
<tr><th>20కె జి గీన్నే </th><td>120</td></tr>
<tr><th>15కె జి గీన్నే </th><td>90</td></tr>
<tr><th>10కె జి గీన్నే </th><td>60</td></tr>
<tr><th>5కె జి గీన్నే </th><td>30</td></tr>
<tr><th>లగాన్ ( పెద్ద)</th><td>500</td></tr>
<tr><th>లగాన్ ( చిన్న) </th><td>400</td></tr>
<tr><th>బకెట్ </th><td>20</td></tr>
<tr><th>బేషన్ </th><td>10</td></tr>
<tr><th>జగ్ </th><td>10</td></tr>
<tr><th>హస్తాలు </th><td>5</td></tr>
<tr><th>కూర గంటెలు </th><td>5</td></tr>
<tr><th>డోంగాలు </th><td>5</td></tr>
<tr><th>కురిపి </th><td>20</td></tr>
<tr><th>కాప్ గిరి</th><td>30</td></tr>
<tr><th>డ్రమ్ములు  </th><td>30</td></tr>
<tr><th>రింగ్ పోయిలు</th><td>50</td></tr>
<tr><th>గ్యాస్ పొయిలు </th><td>100</td></tr>
<tr><th>సింహాసనం </th><td>800</td></tr>
<tr><th>కళాయి </th><td>100</td></tr>
<tr><th>జల్లి గంటె </th><td>10</td></tr>
<tr><th>పులిహార పళ్ళెం </th><td>100</td></tr>
<tr><th>కొబ్బరి తురుము </th><td>50</td></tr>
<tr><th>స్టేజి బల్ల 4x4 </th><td>100</td></tr>
</table><button onclick="my()">Print</button>
{% endblock %}